#footer .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#footer .footer__container .footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#footer .footer__container .footer__link .links {
  text-decoration: none;
  color: rgb(21, 14, 6);
}
#footer .footer__container .footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}
#footer .footer__container .footer__icons .icons__card {
  border: 1px solid rgb(124, 78, 228);
  border-radius: 50%;
  background-color: rgb(124, 78, 228);
  color: white;
  text-align: center;
  padding: 6px;
}
#footer .footer__container .footer__line {
  border: 1px solid rgb(124, 78, 228);
  width: 90%;
}

#subscription .subscription__box {
  border: 1px solid rgb(124, 78, 228);
  background-color: rgb(124, 78, 228);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  height: 300px;
}
#subscription .subscription__box .subscription__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 4%;
}
#subscription .subscription__box .subscription__container .subscription__top {
  width: 25%;
}
#subscription .subscription__box .subscription__container .subscription__mail {
  display: flex;
  gap: 10px;
}
#subscription .subscription__box .subscription__container .subscription__mail .subscription__input {
  width: 220px;
  height: 26px;
  padding: 4px;
}
#subscription .subscription__box .subscription__container .subscription__mail .subscription__btn {
  border: 1px solid aliceblue;
  background-color: transparent;
  border-radius: 9px;
  color: aliceblue;
  width: 130px;
  text-align: center;
  padding: 9px;
}
#subscription .subscription__box .subscription__container .subscription__top {
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
}
#subscription .subscription__box .subscription__container .subscription__bottom {
  color: rgb(187, 187, 187);
  width: 37%;
}

#detail .detail__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#detail .detail__container .detail__top {
  font-size: 27px;
  font-weight: bold;
  width: 40%;
}
#detail .detail__container .detail__img .detailimgs {
  width: 767px;
}
#detail .detail__container .detail__about {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
#detail .detail__container .detail__about .about__top {
  width: 65%;
}
#detail .detail__container .detail__about .about__bottom {
  width: 65%;
}
#detail .detail__container .detail__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
#detail .detail__container .detail__icons .detail__Like {
  display: flex;
  flex-direction: column;
  align-items: center;
}